[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
httpx = "*"
bs4 = "*"
openai = "*"
pathlib = "*"
pydub = "*"

[dev-packages]

[requires]
python_version = "3.11"
